//Imports
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
//Variables
$accent: #4EB1BA;
$black: #222930;
$white: #E9E9E9;

//Style
.data-structure {
  background-color: $black;
  color: $white;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  h1 {
    border-bottom: 2px solid $accent;
  }
  .data-s-button {
    border: none;
    border: 2px solid $accent;
    background-color: $white;
    color: $black;

  }
  .select-group {
    display: flex;
    flex-direction: column;
    input,select,button {
      flex: 1;
      margin: 0px 5px;
    }
  }
  .linked-list-output {
    margin-top: 15px;
  }

  .stack-output {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    span {
      border: 1px solid $accent;
      width: 6em;
      text-align: center;
      color: $white;
      margin-bottom: 1px;
    }
  }
  .queue-output {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    span {
      border: 1px solid $accent;
      width: 3em;
      text-align: center;
      margin-right: 1px;
    }
  }
}

.data-structure:last-child {
  margin-bottom: 0;
}

.header, .footer {
}
//General Styles
#app {
  padding: 0 10px;
  margin: 100px 0;
}

body, div, p, span {
  margin: 0;
  padding: 0;
}
body {
  background-color: $black;
}
h1 {
  font-size: 36px;
}
* {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
//Responsive Layout
@media (min-width: 576px) {
  .data-structure {
    .select-group {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media (min-width: 768px) {

  #app {
    padding: 0 80px;
  }
}

@media (min-width: 992px) {

  #app {
    padding: 0 150px;
  }
}

@media (min-width: 1300px) {

  #app {
    padding: 0 390px;
  }
}